.idea
*.iws
*.iml
*.ipr
.DS_STORE
fwb/target/*
fwb/src/main/fwbweb/node_modules/*
fwb/src/main/fwbweb/webapp/web/*
fwb/src/main/webapp/web/*
fwbdatabase/target/

### Ansible ###
*.retry

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# vscode configs
**/.vscode/*
.vscode/settings.json

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

.settings
bin
.classpath
.project